* {margin: 0; padding: 0;}

body {
    background-color: #e6e6e6;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding: 20px;
}

h1 a {
    text-decoration: none;
    color: #00E6BA;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 20px;
}

li a {
    text-decoration: none;
    color: rgb(43, 43, 43);
    cursor: pointer;
}

.menu-icon {
    display: none;
}

.hero {
    position: relative;
    display: inline-block;
}

.hero .hero-image {
    width: 100%;
}

.hero .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .buttons button {
    border: 2px #FFFFFF solid;
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    border-radius: 100%; 
    margin: 30px;
}

.experience-section {
    width: 100%;
    margin: 20px 0;
    color:rgb(43, 43, 43);
}

.title-section {
    text-align: center;
    font-size: 3em;
}

.p-section {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.experience {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.experience-item {
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    margin: 20px;
}

.experience-item h1 {
    text-align: center;
    font-size: 2em;
}

.experience-image {
    width: 400px;
    height: 300px;
}

.experience-item p {
    padding: 20px;
}

.experience-item p span {
    font-weight: bold;
}

.technology-used h3 {
    text-align: center;
    padding: 20px;
}

.technology-used ul {
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

.technology-used ul li::before {
    content: "\2713";
    color: #00E6BA; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
}

.technology-used li {
    padding: 10px;
}

.experience-item button {
    border: none;
    background-color: white;
    text-align: center;
    padding: 20px 0;
}

.about-me-section {
    width: 100%;
    margin: 20px 0;
    background-color: rgb(43, 43, 43);
    color: #FFFFFF;
}

.about-me {
    display: flex;
}

.about-me img {
    width: 50%;
    height: 100vh;
}

.info-me {
    color: white;
    font-size: 1.3em;
    padding: 20px;
}

.info-me span {
    color: #00E6BA;
}

.info-me h1 {
    font-size: 3em;
    text-align: center;
}

.skills-section {
    color: rgb(43, 43, 43);
    margin: 20px 0;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 20px;
}

.skill-item {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 250px;
    margin: 10px;
}

.progress {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sp {
    width: 30px;
    height: 1%;
    background-color: #00E6BA;
}

.skill-item p {
    padding-top: 20px;
}

.skill-item h2 {
    padding: 20px 0;
}

.contact-me-section {
    background-color: rgb(43, 43, 43);
    color: #FFFFFF;
}

.contact-me-section h1 {
    padding-top: 60px;
}

.contact-me {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 20px 0;
}

.form-box {
    width: 50%;
    padding: 40px;
}

.form-box h2 {
    margin-bottom: 30px;
}

.form-box label {
    margin: 5px 0;
}

.form-box input[type=text] {
    margin: 10px 0;
    width: 60%;
    background-color: #FFFFFF;
    border: 1px rgb(27, 27, 27) solid;
    border-radius: 2.5px;
    outline: none;
    padding: 10px 20px;
}

.form-box input[type=textarea] {
    margin: 10px 0;
    width: 60%;
    background-color: #FFFFFF;
    border: 1px rgb(27, 27, 27) solid;
    border-radius: 2.5px;
    outline: none;
    padding: 10px 20px;
}

.form-box input[type=textarea]:focus {
    border: 1.5px #00E6BA solid;
}

.form-box input[type=text]:focus {
    border: 1.5px #00E6BA solid;
}

.form-box input[type=submit] {
    background-color: #00E6BA;
    color: #FFFFFF;
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    transition: all 250ms ease;
    font-family: 'Montserrat';
    margin-right: 5px;
}

.form-box input[type=reset] {
    background-color: #00E6BA;
    color: #FFFFFF;
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    transition: all 250ms ease;
    font-family: 'Montserrat';
}

.form-box input[type=submit]:hover {
    background-color: #00b493;
}

.form-box input[type=reset]:hover {
    background-color: #00b493;
}

.form-box input[type=submit]:active {
    background-color: #019278;
    padding: 9.5px;
}

.form-box input[type=reset]:active {
    background-color: #019278;
    padding: 9.5px;
}

.form-box .message {
    height: 70px;
}

.contact-info {
    padding: 40px;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    padding: 20px 0;
}

.contact-info p span {
    font-weight: bold;
}

.contact-info p a {
    color: #00E6BA;
    text-decoration: none;
}

.contact-info p a:hover {
    color: #00b493;
}

footer {
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
}

footer p {
    padding: 20px;
}

@media (max-width: 650px) {
    header ul {
        display: none;
    }

    .menu-icon {
        display: block;
        float: right;
        padding: 20px;
    }

    .responsive {
        flex-direction: column;
    }

    .responsive ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #e6e6e6;
    }
    
    .responsive .menu-icon {
        transition: all ease;
    }
}

@media (max-width: 800px) {
    .about-me img {
        width: 100%;
    }

    .about-me {
        flex-wrap: wrap-reverse;
    }

    .info-me {
        padding-bottom: 100px;
    }
}

@media (max-width: 930px) {
    .form-box {
        width: 100%;
        padding-top: 0px;
    }

    .form-box input {
        width: 80%;
    }
}