* {margin: 0; padding: 0;}

body {
    background-color: #f3f3f3;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: grey;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding: 20px;
    cursor: pointer;
}

h1 a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 20px;
}

li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu-icon {
    display: none;
}

.hero {
    position: relative;
    display: inline-block;
}

.hero .hero-image {
    width: 100%;
}

.hero .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .buttons button {
    border: 2px black solid;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%; 
}

.experience-section {
    width: 100%;
    margin: 20px 0;
}

.title-section {
    text-align: center;
    font-size: 3em;
}

.experience {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.experience-item {
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px black solid;
    margin: 20px;
}

.experience-item h1 {
    text-align: center;
    font-size: 2em;
}

.experience-image {
    width: 400px;
    height: 300px;
}

.experience-item p {
    padding: 20px;
}

.experience-item p span {
    font-weight: bold;
}

.technology-used h3 {
    padding: 20px;
}

.technology-used ul {
    list-style: circle;
    justify-content: space-around;
    width: 100%;
}

.technology-used li {
    padding: 10px;
}

.experience-item button {
    border: none;
    background-color: white;
    text-align: center;
    padding: 20px 0;
}

.about-me-section {
    width: 100%;
    margin: 20px 0;
}

.about-me {
    display: flex;
}

.about-me img {
    width: 50%;
}

.info-me {
    background-color: gray;
    color: white;
    font-size: 1.5em;
    padding: 20px;
}

.info-me h1 {
    font-size: 2em;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    margin-bottom: 20px;
}

.skill-item {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 150px;
}

.progress {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sp {
    width: 30px;
    height: 1%;
    background-color: blue;
}

.skill-item p {
    padding-top: 20px;
}

.skill-item h2 {
    padding-top: 20px;
}

.contact-me {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
}

.form-box {
    width: 50%;
    padding: 20px;
}

.form-box h2 {
    margin-bottom: 10px;
}

.form-box label {
    margin: 5px 0;
}

.form-box input {
    margin: 10px 0;
    width: 60%;
}

.form-box .message {
    height: 70px;
}

.contact-info {
    padding: 20px;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    padding: 20px 0;
}

.contact-info p span {
    font-weight: bold;
}

.contact-info p a {
    color: blue;
    text-decoration: none;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
}

footer p {
    padding: 20px;
}

@media (max-width: 650px) {
    header ul {
        display: none;
    }

    .menu-icon {
        display: block;
        float: right;
        padding: 20px;
    }

    .responsive {
        flex-direction: column;
    }

    .responsive ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: rgb(172, 172, 172);
    }
    
    .responsive .menu-icon {
        transition: all ease;
    }
}

@media (max-width: 800px) {
    .about-me img {
        width: 100%;
    }

    .about-me {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 930px) {
    .form-box {
        width: 100%;
    }

    .form-box input {
        width: 80%;
    }
}